(function(){
var chart;
var chart_min = 0, chart_max = 0;
var chartData = [];
var chartCursor;

function min_data() {
		if( chartData.length > 0 )
		{
			var min = chartData[0].visits;
			var chartData_len = chartData.length;
			for( var i = 1; i < chartData_len; i++ ){
					min = ( chartData[i].visits < min )?(chartData[i].visits):(min); 
			};
			return min;
		}
		return 0;
}

function max_data() {
	if( chartData.length > 0 )
	{
    var max = chartData[0].visits;
    var chartData_len = chartData.length;
    for( var i = 1; i < chartData_len; i++ ){
        max = ( chartData[i].visits > max )?(chartData[i].visits):(max); 
    };
    return max;
	}
	return 100;
}



// this method is called when chart is first inited as we listen for "dataUpdated" event
function zoomChart() {
    // different zoom methods can be used - zoomToIndexes, zoomToDates, zoomToCategoryValues
    chart.zoomToIndexes(0, chartData.length - 1);
}

// changes cursor mode from pan to select
function setPanSelect() {
    if (document.getElementById("rb1").checked) {
        chartCursor.pan = false;
        chartCursor.zoomable = true;

    } else {
        chartCursor.pan = true;
    }
    chart.validateNow();
}

// generate some random data, quite different range
function generateChartData(index) {
		chartData = [];
    var firstDate = new Date(<%=@meter_date_start.year%>, <%=@meter_date_start.month%>, <%=@meter_date_start.day%>);

		var meter_no = <%= @cur_meter %>;
	 <%unless @meters[@cur_meter].nil?%>	
		<% @fdata_c = @meters[@cur_meter][:values] %>
		<% unless @fdata_c.nil? || @fdata_c[0].nil? %>
		<%	unless @fdata_c[0][:read].nil? %>
		<% old_val = @fdata_c[0][:read] %>
    <% @fdata_c.each do |cpv| %>
					<% @date_cpv = cpv[:tbrtime]%>

					var newDate = new Date(<%= @date_cpv.year %>, <%= @date_cpv.month %>, <%= @date_cpv.day %>, <%= @date_cpv.hour %>, <%= @date_cpv.min %>, <%= @date_cpv.sec %>);
					var visits = <%= cpv[:read] - old_val%>; 
					<% old_val = cpv[:read] %>

					chartData.push({
								date: newDate,
								dateFormatted: '<%= @date_cpv.strftime("%H:%M %d/%m/%y")%>',
								visits: visits
					});
		<%end%>
		<%end%>
		<%end%>
	<% end %>
chart_min = min_data();
chart_max = max_data();
};
generateChartData(<%= @cur_meter %>);

        // SERIAL CHART    
        chart = new AmCharts.AmSerialChart();
        chart.pathToImages = "/images/";
        chart.marginTop = 0;
        chart.marginRight = 10;
        chart.autoMarginOffset = 5;
        chart.zoomOutButton = {
backgroundColor: '#000000',
backgroundAlpha: 0.15
};

chart.dataProvider = chartData;
chart.categoryField = "date";
chart.numberFormatter = {precision:2, decimalSeparator: '.', thousandsSeparator:' '};
chart.columnWidth = 20;


// listen for "dataUpdated" event (fired when chart is rendered) and call zoomChart method when it happens
chart.addListener("dataUpdated", zoomChart);

// AXES
// category
var categoryAxis = chart.categoryAxis;
categoryAxis.parseDates = true; // as our data is date-based, we set parseDates to true
categoryAxis.minPeriod = "hh"; // our data is daily, so we set minPeriod to DD
categoryAxis.dashLength = 1;
categoryAxis.equalSpacing = true;
categoryAxis.gridAlpha = 0.15;
categoryAxis.axisColor = "#DFEA8A";
categoryAxis.position = "bottom";
categoryAxis.title = "Дата";

// value                
var valueAxis = new AmCharts.ValueAxis();
valueAxis.axisAlpha = 0.2;
valueAxis.dashLength = 1;
valueAxis.minimum = 0;
valueAxis.maximum = 100;


chart.addValueAxis(valueAxis);

// GRAPH
var graph = new AmCharts.AmGraph();
graph.title = "Водосчётчик <%= @cur_meter.to_s %>";
graph.valueField = "visits";
graph.bullet = "round";
graph.bulletBorderColor = "#FFFFFF";
graph.bulletBorderThickness = 2;
graph.lineThickness = 2;
graph.lineColor = "#b5030d";
graph.negativeLineColor = "#0352b5";
graph.balloonText = "[[value]] ( [[dateFormatted]] )";
graph.hideBulletsCount = 50; // this makes the chart to hide bullets when there are more than 50 series in selection
chart.addGraph(graph);

// CURSOR
chartCursor = new AmCharts.ChartCursor();
chartCursor.cursorPosition = "mouse";
chartCursor.categoryBalloonEnabled = true;
chartCursor.categoryBalloonDateFormat = "DD/MM";
chart.addChartCursor(chartCursor);

// SCROLLBAR
var chartScrollbar = new AmCharts.ChartScrollbar();
chartScrollbar.graph = graph;
chartScrollbar.scrollbarHeight = 40;
chartScrollbar.graphLineColor = "#0000FF";
chartScrollbar.graphLineOpacity = 1;
chartScrollbar.color = "#FFFFFF";
chartScrollbar.autoGridCount = true;
chartScrollbar.minimum = 0;
chartScrollbar.maximum = 150000;
chartScrollbar.autoGridCount = true;
chart.addChartScrollbar(chartScrollbar);

//Period selector



// WRITE
chart.write("chartdiv");
<% i = @cur_meter
	unless @meters.nil? || @meters[i].nil? || @meters[i][:values].nil? || v[:read].nil? %>
	<% min_val = @meters[i][:values].each_cons(2).map{|a,b| b[:read] - a[:read]}.min %>
	<% min_val ||= 0 %>
	<% max_val = @meters[i][:values].each_cons(2).map{|a,b| b[:read] - a[:read]}.max %>
	<% max_val ||= 0 %>
chart.zoomToIndexes(0,chartData.length - 1)
    chart.valueAxes[0].minimum = <%=min_val%>;
    chart.valueAxes[0].maximum = <%=max_val%>;
    chart.validateNow();
<% end %>


    if ('matchMedia' in window) {
        // Chrome, Firefox, and IE 10 support mediaMatch listeners
        window.matchMedia('print').addListener(function(media) {
                chart.validateNow();
                });
    } else {
        // IE and Firefox fire before/after events
        window.onbeforeprint = function () {
            chart.validateNow();
        }
    }
})();
