<!DOCTYPE HTML>
<!--
	Spectral by HTML5 UP
	html5up.net | @n33co
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Контрольные точки давления</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="assets/css/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
	</head>
	<body>

		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Header -->
					<header id="header">
						<h1><a href="/">Кызылорда Су Жуйесi</a></h1>
						<nav id="nav">
							<ul>
								<li class="special">
									<a href="#menu" class="menuToggle"><span>Меню</span></a>
									<div id="menu">
										<ul>
											<li><a href="/">Главная</a></li>
											<li><a href="/meters">Расходомеры</a></li>
											<li><a href="#">Войти</a></li>
										</ul>
									</div>
								</li>
							</ul>
						</nav>
					</header>

				<!-- Main -->
					<article id="main">
						<header>
							<h2>Контрольные точки давления</h2>
									<p>Показавают состояние давления на текущее время</p> 
						</header>
						<section class="wrapper style5">
							<div class="inner">

								<section>
									<h4>Список контрольных точек</h4>
									<p>Значения на <%=DateTime.now.strftime("%d-%m-%Y %H:%M:%S")%></p> <hr />
									<div class="row">
										<div class="6u 12u$(medium)">
											<ul class="alt">
											<% @cpoints.each_with_index do |cp, i| %>
												<li>
													<ul class="actions small">
														<li><%= cp[:code] %></li> 
														<li><strong>Точка №<%=i.to_s%></strong>
															<ul style="background-color:#FF66CC">
																<li>Давление (m3/h) <h2>3.4</h2> </li>
																<li>Время <br/><h3>10:30</h3></li>
															</ul>
														</li>
														<li>
															<ul class="actions small">
																<li> <a href="#" class="button">График</a> </li>
																<li> <a href="#" class="button">Таблица</a> </li>
															</ul>
														</li>
													</ul>
												</li>
											<% end %>
											</ul>
											</div>
										</div>
									</div>


				<!-- Footer -->
					<footer id="footer">
						<ul class="icons">
							<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
							<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
							<li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
							<li><a href="#" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
						</ul>
						<ul class="copyright">
							<li>&copy; Untitled</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
						</ul>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>

	</body>
</html>
