<html>
					<% @pmu = @pulsar_meters.uniq{|m| m[:caption]} %>
	<head>
		<title>Расходомеры и контрольные точки КзылОрда Су жуйеси</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="assets/css/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
		<!-- Scripts -->
			<script src="scripts/sugar.min.js"></script>
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="https://rawgit.com/kimmobrunfeldt/progressbar.js/1.0.0/dist/progressbar.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>
		<style>
			input{color: 000000;}
			option{color:000000;background-color:white;}

			block {
				display: inline;
			}
 /* Style the list */
ul.tab {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Float the list items side by side */
ul.tab li {float: left;}

/* Style the links inside the list items */
ul.tab li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of links on hover */
ul.tab li a:hover {background-color: #ddd;}

/* Create an active/current tablink class */
ul.tab li a:focus, .active {background-color: #ccc;}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}
.clickoption {
	border: 1px solid #000;
}

		</style>

<script src="/scripts/amcharts.js" type="text/javascript"></script>
<script type="text/javascript">



var handler = (function(){

	var selMeter = "";

	function clickMeter(meter){
		if( meter == undefined )
			return;

		selMeter = meter.text;
		window.selectedMeter = selMeter;

		$('#meter_caption').text(meter.text);
		$('#meter_header_caption').text("Водосчётчик: " + meter.text );
		$('#reportBar').css("visibility", "visible");
		window.makeReportInplace();
	}

	return {
		selectedMeter: selMeter,
		clickOnMeter: clickMeter
	};
})();

	function meterChanged(el){
		alert(el.options[el.selectedIndex].value);
	}

var options = [];


window.openReport = function(evt, reportName) {
    // Declare all variables
    var i, tabcontent, tablinks;

    // Get all elements with class="tabcontent" and hide them
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }

    // Get all elements with class="tablinks" and remove the class "active"
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }

    // Show the current tab, and add an "active" class to the link that opened the tab
    document.getElementById(reportName).style.display = "block";
    evt.currentTarget.className += " active";
}

	$('clickoption').on('click', function(){
		handler.clickOnMeter(this);
	});

	window.clickHandler = handler;

jQuery(document).ready(function($){
	var select = $('#selectmeter');
	 options = [].slice.call(select[0].options);

	 select.on('click','option', function(){ 
		 var meter = $("#selectmeter option:selected")[0];
		 window.clickHandler.clickOnMeter( meter );
		 });


	$('#meterinp').bind('change keyup', function() {
			var select = $('#selectmeter');
			select.empty();

			var search = $.trim($(this).val());
			var regex = new RegExp(search,"gi");

			for(index = 0; index < options.length; ++index ){
				var opt = options[index];
				if(opt.text.match(regex) !== null) {
					var opt = $('<option>').text(opt.text).val(opt.value);

					opt.addClass('clickoption');

				select.append(
					opt
					);
				}
			};
	});

});

</script>
	</head>

	<body class="landing">
	<script type="text/javascript">

function prepare_graph(){

}

const MIN_VAL = 0.0;
const MAX_VAL = 150000.0;

// create chart
AmCharts.ready(function() {
        // generate some data first
				<% 
						@cur_meter = 0 
				%>
});

window.meterCodes = new Object();
<% @pmu.each do |m| %>
	window.meterCodes['<%=m[:caption]%>'] = <%= m[:code] %>;
<% end %>

window.makePfdReport = function()
{
		var startDate = $("#start_date")[0].value
		var endDate = $("#end_date")[0].value
		var query = "http://178.91.94.13/meter.pdf?st_date=" + startDate + "&en_date="+ endDate +"&code=" + window.meterCodes[ window.selectedMeter ];
	var win = window.open(query, '_blank');
	if(win){
		win.focus();
	}
}

window.makeReportInplace = function()
{
	console.log(window.selectedMeter );
    var circle = new ProgressBar.Circle('#container', {
        color: '#555',
        trailColor: '#eee',
        strokeWidth: 10,
        duration: 2500,
        easing: 'easeInOut'
    });
		window.progress = circle;

    circle.set(0.05);

    setTimeout(function() {
        circle.animate(0.3);
    }, 1000);

    setTimeout(function() {
        circle.animate(0.4);
    }, 3500);

    setTimeout(function() {
        circle.animate(0.8);
    }, 5500);

    setTimeout(function() {
        circle.animate(1);
    }, 8000);

		setTimeout(function(){
			circle.destroy();
		},10000);

		var sum = 0;
		var min_val = 0;
		var max_val = 0;
		var startDate = $("#start_date")[0].value
		var endDate = $("#end_date")[0].value
		var query = "http://178.91.94.13/meters.json?st_date=" + startDate + "&en_date="+ endDate +"&meter=" + window.selectedMeter;

		$.getJSON(query, function(data){

			var chart;
			var chart_min = 0, chart_max = 0;
			var chartCursor;
			var items = [];
			var chartData = [];
			if( data.length == 0 )
			{
				console.log("No data returned");
				return;
			}

			var old_val = data[0].values[data[0].values.length-1].read;
			min_val = 0;
			max_val = 0;
			var tbody = $("#valsTable").find('tbody');
			tbody.empty();

			$.each(data, function(key, val){
				items.push('<li id="' + key + '">' + val.caption + '</li>');

				for( var i = val.values.length - 1; i > 1;  i-- ){
					var cpv = val.values[i];
					var date_cpv = Date.create(cpv.tbrtime.substr(0,19));
					var visits = cpv.read - old_val;
					old_val = cpv.read;
					if( visits > max_val ) max_val = visits;
					if( visits < min_val ) min_val = visits;
					sum += visits;

					var tr = tbody.append($('<tr>'));
					tr.append($('<td>').text( val.values.length - i ));
					tr.append($('<td>').text( date_cpv.format('{dd}-{MM} {hh}:{mm}') ));
					tr.append($('<td>').text( cpv.read.toFixed(2) ));
					tr.append($('<td>').text( visits.toFixed(2) ));

					chartData.push({
								date: date_cpv,
								dateFormatted: date_cpv,
								visits: visits
					});
				}
			});
					var tr = tbody.append($('<tr>'));
					tr.append($('<td>').text('Итого:'));
					tr.append($('<td>').text( sum.toFixed(2) ));

        // SERIAL CHART    
        chart = new AmCharts.AmSerialChart();
        chart.pathToImages = "/images/";
        chart.marginTop = 0;
        chart.marginRight = 10;
        chart.autoMarginOffset = 5;
        chart.zoomOutButton = {
backgroundColor: '#000000',
backgroundAlpha: 0.15
};

chart.dataProvider = chartData;
chart.categoryField = "date";
chart.numberFormatter = {precision:2, decimalSeparator: '.', thousandsSeparator:' '};
chart.columnWidth = 20;


// listen for "dataUpdated" event (fired when chart is rendered) and call zoomChart method when it happens

// AXES
// category
var categoryAxis = chart.categoryAxis;
categoryAxis.parseDates = true; // as our data is date-based, we set parseDates to true
categoryAxis.minPeriod = "hh"; // our data is daily, so we set minPeriod to DD
categoryAxis.dashLength = 1;
categoryAxis.equalSpacing = true;
categoryAxis.gridAlpha = 0.15;
categoryAxis.axisColor = "#DFEA8A";
categoryAxis.position = "bottom";
categoryAxis.title = "Дата";

// value                
var valueAxis = new AmCharts.ValueAxis();
valueAxis.axisAlpha = 0.2;
valueAxis.dashLength = 1;
valueAxis.minimum = min_val;
valueAxis.maximum = max_val + 1;


chart.addValueAxis(valueAxis);

// GRAPH
var graph = new AmCharts.AmGraph();
graph.title = "Водосчётчик " + window.selectedMeter;
graph.valueField = "visits";
graph.bullet = "round";
graph.bulletBorderColor = "#FFFFFF";
graph.bulletBorderThickness = 2;
graph.lineThickness = 2;
graph.lineColor = "#b5030d";
graph.negativeLineColor = "#0352b5";
graph.balloonText = "[[value]] ( [[dateFormatted]] )";
graph.hideBulletsCount = 50; // this makes the chart to hide bullets when there are more than 50 series in selection
chart.addGraph(graph);

// CURSOR
chartCursor = new AmCharts.ChartCursor();
chartCursor.cursorPosition = "mouse";
chartCursor.categoryBalloonEnabled = true;
chartCursor.categoryBalloonDateFormat = "DD/MM";
chart.addChartCursor(chartCursor);

// SCROLLBAR
var chartScrollbar = new AmCharts.ChartScrollbar();
chartScrollbar.graph = graph;
chartScrollbar.scrollbarHeight = 40;
chartScrollbar.graphLineColor = "#0000FF";
chartScrollbar.graphLineOpacity = 1;
chartScrollbar.color = "#FFFFFF";
chartScrollbar.autoGridCount = true;
chartScrollbar.minimum = min_val;
chartScrollbar.maximum = max_val;
chartScrollbar.autoGridCount = true;
chart.addChartScrollbar(chartScrollbar);

//Period selector


		$('#chartdiv').empty();
		// WRITE
		chart.write("chartdiv");
    chart.zoomToIndexes(0, chartData.length - 1);

		});


}
	</script>
		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Header -->
					<header id="header" class="alt">
						<h1><a href="/">Главная</a></h1>
						<nav id="nav">
							<ul>
								<li class="special">
									<a href="#menu" class="menuToggle"><span>Меню</span></a>
									<div id="menu">
										<ul>
											<li><a href="/">На главную</a></li>
											<li><a href="/meters">Водосчётчики</a></li>
											<li><a href="/login">Войти</a></li>
										</ul>
									</div>
								</li>
							</ul>
						</nav>
					</header>


				<!-- One -->
				<!-- Two -->
					<section id="two" class="wrapper alt style2">
						<section class="spotlight">
							<div id="meters" class="content" style="width:400px;" >
								<h2>Водосчётчики</h2>
							<div id="reportBar" style="float:center;width:1000px; visibility: collapse">
								<div style="width: 453px; float:left;" id="meter_header_caption" >Водочётчик ххх</div>
								<div  style="float: left;">
									<div>
										<div>
									с <input class="date"  name="st_date" id="start_date" type="date" value="<%=@meter_date_start.strftime('%Y-%m-%d')%>">
									по <input class="date" name="en_date" id="end_date" type="date" value="<%=@meter_date_end.strftime('%Y-%m-%d')%>"></script>
									<button style="float:right; margin-left:10px; margin-top: -3px; " onclick="window.makeReportInplace();">Создать отчёт</button>
									<button style="float:right; margin-left:10px; margin-top: -3px; " onclick="window.makePfdReport()">Создать PDF</button>
	<div id="container" style="width: 50px; height: 50px; margin-top: 20px;"></div>
										</div>
									</div>
								</div>
							</div>
								<form method="get" action="/meters">
									<label>Наименование:</label>
									<input id="meterinp" list="meter" name="meter">
									<datalist id="meter">
										<% @pmu.each do |m| %>
											<option value="<%=m[:caption]%>"/>
										<% end %>
									</datalist>
									<br>
									<br>
									<select id="selectmeter" size="20" name="meterlist" style="width:350px;height:300px;" >
											<% @pmu.sort{|a,b| a[:caption] <=> b[:caption]}.each do |m| %>
												<option class="clickoption" value="<%=m[:caption]%>" onclick="handler.clickOnMeter(this);"><%=m[:caption]%></option>
											<% end %>
									</select>
									<br>
								</form>
								<br>

							</div>
							<div class="content" style="width:*;height:400px;">
 <ul class="tab" style="width:*; height: 70px;">
  <li><a class="tablinks active" style="cursor: pointer;" onclick="openReport(event, 'Info')">Информация</a></li>
  <li><a  class="tablinks" style="cursor: pointer;" onclick="openReport(event, 'Table')">Таблица</a></li>
  <li><a  class="tablinks" style="cursor: pointer;" onclick="openReport(event, 'Chart')">График</a></li>
</ul>

<div id="Info" class="tabcontent" style="width:*;height:470px;display:block">
  <h3>Информация</h3>
  <div ><div class='block'>Счётчик:</div> <div class='block' id='meter_caption'>ххх</div></div><br>
	<p>Физический адрес:</p>
	<p>Название:</p>
	<p>БИН:</p>
	<p>Лицевой счёт:</p>
	<div><div>Номер счётчика:</div><div class='block' id='meter_number'>???</div></div><br>

</div>

<div id="Table" class="tabcontent" style="width:*;height:470px;">
  <h3>Table</h3>
													<div id="tables" style="visibility:shown; overflow-y: scroll; width: 100%; height: 85%; ">
														Показания:
														<table width="100%" id="valsTable">
															<thead>
																<th style="font-size:medium">№</th>
																<th>Дата и время</th>
																<th>Значение</th>
																<th>Расход</th>
															</thead>
															<tbody>	
															<% @prev_val = -1.0 %>
															<% @sum_val = 0.0 %>
															<% rev_m = [] %>
															<% rev_m_t = rev_m[0] unless rev_m.nil? && rev_m[0].nil? %>
															<% rev_m_t ||= {trbtime: DateTime.now} %>
															<% date_prev = rev_m_t[:tbrtime].to_date unless rev_m_t[:tbrtime].nil?  %>
															<% date_prev ||= DateTime.now %>
															<% rev_m.each_with_index do |v,j| %>
															<tr>
																<td style="font-size:medium"><%= j.to_s %></td>
																<td style="font-size:medium;">
																	
																	<%= v[:tbrtime].strftime("%d-%m-%Y %H:%M") %></td>
																<td><%= v[:read].round(2) %></td>
																<td>
																	<%= 
																		flow = 
																			if j < rev_m.size - 1
																				v[:read] - rev_m[j+1][:read]
																			else
																				0
																			end
																		@sum_val += flow 
																		flow.round(2)
																	 %>
																 </td>
															</tr>
															<% end %>
															<tr><td><strong>Итого:</strong></td>
																<td><strong><%= @sum_val.round(2) %></strong> м<sup>3</sup></td>
																</tr>
															</tbody>
														</table>
													</div>
</div>

<div id="Chart" class="tabcontent" style="width:*;height:470px;">
  <h3>Chart</h3>
													<div id="graph" style="visibility:shown; overflow: none; width:100%;height:85%;">
							<div id="chartdiv" style="padding: 20; margin:20; width:100%; height: 100%;"></div>
													</div>
</div>
							</div>

						</section>
					</section>


				<!-- Footer -->
					<footer id="footer">
						<ul class="icons">
							<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
							<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
							<li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
							<li><a href="#" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
						</ul>
						<ul class="copyright">
							<li>&copy; 2016 -  ТОО "ТеплоВодоУчёт Казахстан"</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
						</ul>
					</footer>

			</div>


	</body>
</html>
