<!DOCTYPE HTML>
<!--
	Spectral by HTML5 UP
	html5up.net | @n33co
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Расходомеры</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="assets/css/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
	</head>
	<body>

		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Header -->
					<header id="header">
						<ul class="actions small" style="float:;">
							<li> <strong><a href="/">Кызыл-Орда Су Жуiесi</a></strong> </li>
							<li><a class="button <%='special' if @meter_report_type == :all_vals%>" href='/meters?report_type=all_vals&st_date=<%= @meter_date_start.strftime('%Y-%m-%d')%>&en_date=<%= @meter_date_end.strftime('%Y-%m-%d')%>'>Часовые</a></li>
							<li><a class="button <%='special' if @meter_report_type == :hourly_vals%>" href='/meters?report_type=hourly_vals&st_date=<%= @meter_date_start.strftime('%Y-%m-%d')%>&en_date=<%= @meter_date_end.strftime('%Y-%m-%d')%>'>Суточные</a></li>
							<li><a class="button <%='special' if @meter_report_type == :monthly_vals%>" href='/meters?report_type=monthly_vals&st_date=<%= @meter_date_start.strftime('%Y-%m-%d')%>&en_date=<%= @meter_date_end.strftime('%Y-%m-%d')%>'>Месячные</a></li>
						</ul>
						<nav id="nav">
							<ul>
								<li class="special">
									<a href="#menu" class="menuToggle"><span>Меню</span></a>
									<div id="menu">
										<ul>
											<li><a href="/">Главная</a></li>
											<li><a href="#">Войти</a></li>
										</ul>
									</div>
								</li>
							</ul>
						</nav>
					</header>

				<!-- Main -->
					<article id="main">
						<header>
							<h2>Водосчётчики</h2>
									<p>Расход воды за период с <%= @meter_date_start.strftime("%d-%m-%Y %H:%M")%> по <%= @meter_date_end.strftime("%d-%m-%Y %H:%M")%></p> 
								<ul class="actions small">
									<li>
										<a class="button" href='/meters.pdf?report_type=<%=@meter_report_type.to_s%>&st_date=<%= @meter_date_start.strftime('%Y-%m-%d')%>&en_date=<%= @meter_date_end.strftime('%Y-%m-%d')%>' target="_blank">Отчёт в PDF</a>
										<a class="button" href='/meters.csv?report_type=<%=@meter_report_type.to_s%>&st_date=<%= @meter_date_start.strftime('%Y-%m-%d')%>&en_date=<%= @meter_date_end.strftime('%Y-%m-%d')%>' target="_blank">Экспорт CSV</a>
									</li>
								</ul>
								<hr>
						<form  style="margin:0px 0px;padding:0; float:right;" method="get" action="/meters">
							с <input class="date"  name="st_date" id="start_date" type="date" value="<%=@meter_date_start.strftime('%Y-%m-%d')%>">
							по <input class="date" name="en_date" id="end_date" type="date" value="<%=@meter_date_end.strftime('%Y-%m-%d')%>">
							<input type="submit" value="Обновить">
						</form>
								<a href="#one" class="more scrolly">Детали</a>
										
						</header>
						<section id="one" class="wrapper style5">
							<div class="inner">

								<section>
									<h4>Список расходомеров</h4>
									<p>Значения на <%=DateTime.now.strftime("%d-%m-%Y %H:%M:%S")%></p> <hr />
									<div class="row">
										<div> 
											<ul class="alt">
											<% @meters.each_with_index do |m, i| %>
												<% next if m.nil? %>
												<li >
													<table style="width:90%;">
														<tr style="height:300px;">
															<td>
													<ul class="actions small">
														<li>№ счётчика: <%= m[:counter_id] %> :: <%= m[:code] %></li> 
														<li><strong><%=m[:caption]%></strong>
															<ul style="background-color:#FF66CC">
																<li>Показания (м<sup>3</sup>) <h2><%= m[:values].last[:read].round(2) unless m[:values].last.nil? %></h2> </li>
																<li>Время <br/><h3><%= m[:values].last[:tbrtime].strftime("%d:%m:%Y %H:%M") unless m[:values].last.nil? %></h3></li>
															</ul>
														</li>
														<li>
															<ul class="actions small">
																<li> <a id="showgraph<%=i%>" onclick="document.getElementById('graph<%=i%>').style.display = 'block'; document.getElementById('tables<%=i%>').style.display='none'; document.getElementById('showgraph<%=i%>').className = 'button special'; document.getElementById('showtable<%=i%>').className = 'button';" class="button">График</a> </li>
																<li> <a id="showtable<%=i%>" onclick="document.getElementById('graph<%=i%>').style.display = 'none'; document.getElementById('tables<%=i%>').style.display='inline-block'; document.getElementById('showgraph<%=i%>').className = 'button';document.getElementById('showtable<%=i%>').className = 'button special';"  class="button special">Таблица</a> </li>
																<li> <a id="getreppdf<%=i%>" href="/meter.pdf?report_type=<%=@meter_report_type.to_s%>&code=<%=m[:code]%>&st_date=<%= @meter_date_start.strftime('%Y-%m-%d')%>&en_date=<%= @meter_date_end.strftime('%Y-%m-%d')%>" class="button" target="_blank">Отчёт PDF</a></li>
																<li> <a id="getrepcsv<%=i%>" href="/meter.csv?report_type=<%=@meter_report_type.to_s%>&code=<%=m[:code]%>&st_date=<%= @meter_date_start.strftime('%Y-%m-%d')%>&en_date=<%= @meter_date_end.strftime('%Y-%m-%d')%>" class="button" target="_blank">Экспорт CSV</a></li>
															</ul>
														</li>
													</ul>
													</td>
													<td style="vertical-align:bottom">
													<div id="tables<%=i.to_s%>" style="visibility:shown; overflow-y: scroll; width: 500px; height: 400px; ">
														Показания:
														<table width="100%">
															<thead>
																<th style="font-size:medium">№</th>
																<th>Дата и время</th>
																<th>Значение</th>
																<th>Расход</th>
															</thead>
															<tbody>	
														<% unless m[:values].nil? && ( m[:values].size = 0 ) %>
															<% @prev_val = -1.0 %>
															<% @sum_val = 0.0 %>
															<% rev_m = m[:values].reverse %>
															<% rev_m_t = rev_m[0] unless rev_m.nil? && rev_m[0].nil? %>
															<% rev_m_t ||= {trbtime: DateTime.now} %>
															<% date_prev = rev_m_t[:tbrtime].to_date unless rev_m_t[:tbrtime].nil?  %>
															<% date_prev ||= DateTime.now %>
															<% rev_m.each_with_index do |v,j| %>
															<tr>
																<td style="font-size:medium"><%= j.to_s %></td>
																<td style="font-size:medium;">
																	
																	<%= v[:tbrtime].strftime("%d-%m-%Y %H:%M") %></td>
																<td><%= v[:read].round(2) %></td>
																<td>
																	<%= 
																		flow = 
																			if j < rev_m.size - 1
																				v[:read] - rev_m[j+1][:read]
																			else
																				0
																			end
																		@sum_val += flow 
																		flow.round(2)
																	 %>
																 </td>
															</tr>
															<% end %>
															<tr><td><strong>Итого:</strong></td>
																<td><strong><%= @sum_val.round(2) %></strong> м<sup>3</sup></td>
																</tr>
														<% end %>
															</tbody>
														</table>
													</div>
													<div id="graph<%=i.to_s%>" style="display:none; overflow: none; width:400px;height:400px;">
							<div id="chartdiv<%= i.to_s %>" style="padding: 20; margin:20; width:360px; height: 370px;"></div>
													</div>
													</td>
													</tr>

												</li>
											<% end %>
											</ul>
											</div>
										</div>
									</div>



			</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>

<script src="/scripts/amcharts.js" type="text/javascript"></script>
<script type="text/javascript">
function prepare_graph(){

}

const MIN_VAL = 0.0;
const MAX_VAL = 150000.0;



// create chart
AmCharts.ready(function() {
        // generate some data first
				<% (0...@meters.size).each do |i|
						@cur_meter = i 
				%>
				<%= erb :_grap_generation %>
<%end%>
}
);




$(function(){
        $('#txt').keyup(function(){
            $('#preview').text($(this).val());
            });
        });


</script>
	</body>
</html>
